*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  --bg-color:#E5C49F;
  --text-color:#B93D40;
}

body{
  background-color: var(--bg-color);
}

#login-page .picture{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url(./images/cake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.login-form{
  width: 60%;
  height: 100%;
  display: flex;
}

#login-page{
  display: flex;
}