*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

:root{
  --bg-color:#E5C49F;
  --text-color:#B93D40;
}

body{
  background-color: var(--bg-color);
}

#login-page{
  height: 100vh;
  width: 100vw;
  display: flex;
}

#login-page .picture{
  height: 100%;
  width: 50%;
  position: relative;
  background-image: url(./images/cake.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}

#login-page .login-form{
  width: 50%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 40px;
}

#login-page .login-form .heading h1{
  font-size: calc(2.5rem + 1.6vw);
  font-weight: bold;
  color:#3b1d0b ;
}
#login-page .login-form .heading h1{
  font-size: calc(1.1rem + 0.8vw);
  margin-top: 0.3rem;
  color: #4a2d1f;
}



#login-page .login-form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  padding: 20px 0;
}

#login-page .login-form form .form-row{
  width: 100%;
  display: flex;
  gap: 30px;
}

.form-row .input-box{
  width: 50%;
  padding: 10px;
  position: relative;
}

.form-row .input-box input {
  display: block;
  width: 100%;
  padding:16px 6px 16px 10px ;
  background: transparent;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid var(--text-color);
  transition: 0.4s ease;
  
}

.form-row .input-box input:focus{
  border: 1px solid #173b559d;
  box-shadow: 0px 2px 4px 0px #173b559d;
  outline: none;
}

.form-row .input-box label{
  font-size: calc(8px +0.4vw);
  position: absolute;
  top: 20px;
  left: 16px;
  /* color: aliceblue; */
  transition: 0.4s ease;
}

input:is(:focus, :valid) ~ label {
  transform: 
      translateY(-23px)
      scale(0.85);
  padding-inline: 0.3rem;
  background-color: var(--bg-color);
}

.error{
  display: none;
  color: #B93D40;
  font-size: 1rem;
  position: relative;
  top: 4px;


}

input:not(:placeholder-shown):invalid~.error{
  display: block;
}

form button[type="submit"]{
  width: min(270px,30vw);
  height: 5.5rem;
  font-size: calc(12px +2vw);
  background-color: var(--bg-color);
  border: 3px solid  #B93D40;
  font-weight: bold;
  border-radius: 13px;
  padding-top: 8px;
  margin-top:6% ;
  cursor: pointer;
  transition: 0.4s ease-out;

}

form button[type="submit"]:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
  border-color: #B93D40;
  transform: scale(1.04);
}

.login-form .below{
  font-size: (12px + 0.4vw);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}

